---
import '../../styles/components/hero/hero.sass'
---

<header>
    <div>
        <h1>Protect Your Password</h1>    
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt dolorum veritatis consectetur officiis nisi cumque tempora vero sed laboriosam dolore?</p>
        <button>
            Star Now
        </button>
    </div>
    <img src="images/fingerPrint.svg" alt="">
</header>   